* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pacifico";
  list-style: none;
}

header {
  background-image: url("./images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 150px;
  position: relative;
}
.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgb(10, 10, 10, 0.3);
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 15px 40px;
}
nav li {
  list-style: none;
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}
.NavLinks {
  padding: 10px;
  text-decoration: none;
  background-color: lightsteelblue;
  border-radius: 10px;
}
.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 10px;
}
.cart a {
  background-color: rgb(225, 156, 65);
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding:12px;
  border-radius: 10px;

}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-evenly;
  
}
.image {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-top: 25px;
}


ul .product-image img{
  width:100%;
  
}

.products_container{
  box-shadow: 0 4px 8px 0 rgb(0, 0 , 0 ,0.2);
  max-width: 20%;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(51, 50, 50);
}

/* product with id page  */
.product-page{
  display: flex;
  justify-content: space-evenly;
}
.productwithidimage{
  width:35%;
  margin-left:20px;
  margin-top:20px;
  
}

.productdetails{
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top:100px;
}
/* ------------ */


.addtocart {
  width: 100%;
  background-color: rgb(206, 151, 57);
  color: rgb(241, 233, 233);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.image:hover .cart1 {
  bottom: 50px;
  opacity: 1;
  text-decoration: none;
  display:block;
}



/* product category */
.category-items ul{ 
  text-decoration: none;
padding: 15px; 
display: flex; 
justify-content:space-around;
background-color: rgba(250, 250, 244, 0.938);
}

.category-items-list{
  list-style: none;
  text-decoration: none;
  font-size: 1.2em;
  color:black
}

.category-items-list:hover{
  
  text-decoration: underline;
}


button{
  background-color: #deb634; 
  border: none;
  color: black;
  padding: 10px 15px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  outline:none;
}